#example1{
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
}
    
    .home {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bolder;
    color: solid white;
    padding-left: 2em;
    padding-top: 1em;
    
}

.home-page {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-size: 24px;
        font-weight: 300;
        color: solid white;
        padding-left: 4em;
    }


.button {
    align-content: center;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-style: normal;
    font-size: 14px;
    background: #f9e42e;
    color: #033048;
    text-decoration: none; /* gets rid of underline on link */
    border-radius: 5px;
    cursor:pointer; /* we need this because we lose the pointer when we make an a tag display block */
}
.button:hover {
    background: #f9e48e;
}
    
.benefits {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-style: semibold;
        background-color: solid white;
        padding-top: 3em;
        padding-left: 2em;
    
}
.p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: light;
    background-color: solid white;
    padding-left: 2em;
    
}

.ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: light;
    background-color: solid white;
    padding-left: 4em;
    
}

.testimonial {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: light italic;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: semibold;
    text-align: center;
    
}

.button2 {
    align-content: center;
    display: inline-block;
    padding: 12px 23px;
    margin: 5px;
    font-style: normal;
    font-size: 10px;
    background: #033048;
    color: white;
    text-decoration: none; /* gets rid of underline on link */
    border-radius: 5px;
    cursor:pointer; /* we need this because we lose the pointer when we make an a tag display block */
}
.button:hover {
    background: solid black;
    
}
.footer {
    h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: semibold;
    text-align: center;
    }
    
    h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-style: semibold;
    text-align: center;
        
    }
    
}
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}





/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */


